.chef {
  &-card {
    display: flex;
    gap: 30px;

    &__photo {
      border-radius: 4px 4px 4px 200px;
      box-shadow: -16px 16px 0 0 var(--color-primary-light),
        -16px 16px 0 2px var(--color-secondary-dark);
    }

    &__text {
      & p {
        margin-bottom: 24px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__title {
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 16px;
    }
  }

  &s {
    &__item {
      flex-basis: calc((100% - 30px) / 2);
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 40px 30px;
    }

    &__title {
      margin: 0 auto 80px;
      position: relative;

      &::after,
      &::before {
        border: 2px solid var(--color-brand-light);
        bottom: 24px;
        content: '';
        display: block;
        position: absolute;
        width: 352px;
      }

      &::after {
        right: 0;
      }
      &::before {
        left: 0;
      }
    }
  }
}
