.contacts {
  &.section {
    padding-bottom: 96px;
  }

  &__container {
    display: flex;
    gap: 32px;
  }

  &__field {
    margin: 0 0 32px;
  }

  &-form {
    .button {
      display: block;
      margin: 0 auto 24px;
    }

    &__terms {
      font-size: 12px;
      font-weight: 500;
      margin: 0 auto;
      max-width: 220px;
      text-align: center;

      &-link {
        color: inherit;
        text-underline-offset: 2px;
      }
    }
  }

  &__map {
    border: none;
    border-radius: 16px;
    flex-shrink: 0;
  }

  &__title {
    margin-bottom: 16px;
  }
}
