.header {
  left: 0;
  padding: 16px 0 0;
  position: absolute;
  top: 0;
  width: 100%;

  @media screen and (min-width: $bp-desktop) {
    padding-top: 32px;
  }

  &__burger {
    background-color: var(--color-primary-light);
    border: none;
    fill: var(--color-primary-dark);
    height: 24px;
    padding: 0;
    width: 24px;

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }

  &__button {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }

  &__container {
    align-items: center;
    display: flex;
    gap: 40px;
  }

  &__menu {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      flex-grow: 1;
      gap: 64px;
      justify-content: center;
    }
  }

  &__nav {
    align-items: center;
    display: flex;
    flex-grow: 1;
    gap: 40px;
  }
}
